
.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-weight: 200;
    height: auto;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: #FE7F2D;
    margin: 10px 0;
    color: white;

    &.hovering {
        border: 2px solid #ffffff;
        color: #dadada !important;
    }
    .file{
       margin: auto
    }
    .file-label {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
    h1{
        text-align: center;
        color: #213C4B;
        font-weight: bold;
    }

    h3{
        color: white;
        padding: 15px;
    }
    h4{
        color: white;
        text-align: center;
        color: #213C4B;
        font-weight: bold; 
    }
    
    p{
        padding: 8px;
        text-align: justify;
    }
    span{
        text-align: center;
    }
}

.button  {
    width: 45%;
    box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.43);
    background-color: #549581;
    border-radius: 10px;
    border: none;
    margin: auto;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 16px;
}

.button a{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

img {
    width: 250px
}

.textAv {
    font-family: 'Simple print';
    font-size: 35px;
}
.textAv h4{
    text-align: center;
}
